<html>
<head>
  <title>Invalid distance</title>
</head>
<body>
<h1>Invalid distance</h1>
  <p>Make sure the miles or km field is a number!</p>
<p>Back to <a href="{{ url_for("index") }}">the home page</a>.</p>
</body>
</html>