<html>
<head>
  <title>Invalid distance</title>
</head>
<body>
<h1>Invalid distance!</h1>
  <p>Please ensure the following:</p>
  <ul>
  	<li>That the miles or km field is a valid number (no letters or special characters).</li>
  	<li>The first control point must be at least 60KM from the start.</li>
  	<li>The last control point can be no longer than 20% of the theoretical distance.</li>
  </ul>

<p>Please return to <a href="{{ url_for("index") }}">the home page</a> and try again.</p>
</body>
</html>